[Unit]
Description=MaidSafe LifeStuff Invigilator

[Service]
Type=simple
ExecStart=/usr/bin/lifestuff-invigilator --start

[Install]
WantedBy=multi-user.target
